.footer
  .row
    #footer-logo-col.footer-col
      =link_to (image_tag "NYEIlogoFinal-02.png", id: [:"footer-logo"], alt: "New York Footer Logo"), :landing_eng
    .footer-col
      %ul
        %li
          = link_to "Methodology", :methodology_page_eng
        %li
          = link_to "Courses", :courses_offered_eng
        %li
          = link_to "Travel", :travel_opportunities_eng
        %li
          = link_to "Teachers", :teachers_page_eng
        %li
          = link_to "Register", :register_page_eng
    .footer-col
      %ul
        %li
          = link_to "About", :about_us_eng
        %li
          = link_to "Contact", :contact_us_eng
        %li
          = link_to "Career", :work_with_us_eng
        %li
          = link_to "FAQ", :faq_page_eng
    .footer-col#footer-img-col
      = link_to (image_tag "fb_icon.png", :height => 50), "https://www.facebook.com/nyei.brazil"
      = link_to (image_tag "tw_icon.png", :height => 50), "https://twitter.com/nyei_brazil"
      = link_to (image_tag "in_icon.png", :height => 50), "http://instagram.com/nyei_brazil"