.footer
  .row
    .footer-col  
      =link_to (image_tag "logotypeWhite-10.svg"),root_path
    .footer-col
      %ul
        %li
          = link_to "Metodologia", :methodology_page
        %li
          = link_to "Cursos", :courses_offered
        %li
          = link_to "Viagens", :travel_opportunities
        %li
          = link_to "Professores", :teachers_page
        %li
          = link_to "Matrículas", :register_page
    .footer-col
      %ul
        %li
          = link_to "Sobre Nós", :about_us
        %li
          = link_to "Contato", :contact_us
        %li
          = link_to "Trabalhe Conosco", :work_with_us
        %li
          = link_to "Ajuda", :faq_page
    .footer-col
      %ul
        %li
          .fb-share-button{"data-href" => "https://www.facebook.com/nyei.brazil"}
        %li
          %a.twitter-share-button{"data-count" => "none", "data-lang" => "pt", :href => "https://twitter.com/share"} Tweetar
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
