.footer
  .row
    .footer-col  
      =link_to (image_tag "logotypeWhite-10.svg"),root_path
    .footer-col
      %ul
        %li
          = link_to "Metodologia", :methodology_page
        %li
          = link_to "Cursos", :courses_offered
        %li
          = link_to "Viajar", :travel_opportunities
        %li
          = link_to "Professores", :teachers_page
        %li
          = link_to "Agenda", :register_page
    .footer-col
      %ul
        %li
          = link_to "Sobre Nós", :about_us
        %li
          = link_to "Contato", :contact_us
        %li
          = link_to "Trabalhe Conosco", :work_with_us
        %li
          = link_to "Ajuda (Perguntas Frequentes)", :faq_page
