.footer
  .row
    .footer-col  
      =link_to (image_tag "logotypeWhite-10.svg"),root_path
    .footer-col
      %ul
        %li
          = link_to "Methodology", :methodology_page
        %li
          = link_to "Courses", :courses_offered
        %li
          = link_to "Travel", :travel_opportunities
        %li
          = link_to "Teachers", :teachers_page
        %li
          = link_to "Calendar", :register_page
    .footer-col
      %ul
        %li
          = link_to "About", :about_us
        %li
          = link_to "Contact", :contact_us
        %li
          = link_to "Careers", :work_with_us
        %li
          = link_to "FAQ", :faq_page
