.footer
  .row
    #footer-logo-col.footer-col
      .row
        = link_to root_path do
          = image_tag "NyeiMarkwhite250px-03.png", :class => [:"footer-brand"]
    .footer-col
      %ul
        %li
          = link_to "Metodologia", :methodology_page
        %li
          = link_to "Cursos", :courses_offered
        %li
          = link_to "Viagens", :travel_opportunities
        %li
          = link_to "Professores", :teachers_page
        %li
          = link_to "Matrículas", :register_page
    .footer-col
      %ul
        %li
          = link_to "Sobre Nós", :about_us
        %li
          = link_to "Contato", :contact_us
        %li
          = link_to "Career", :work_with_us
        %li
          = link_to "Ajuda", :faq_page
    #footer-img-col.footer-col
      = link_to (image_tag "fb_icon.png", :height => 50), "https://www.facebook.com/nyei.brazil"
      = link_to (image_tag "tw_icon.png", :height => 50), "https://twitter.com/nyei_brazil"
      = link_to (image_tag "in_icon.png", :height => 50), "http://instagram.com/nyei_brazil"
          