.footer
  .row
    .footer-col  
      =link_to (image_tag "logotypeWhite-10.svg"),root_path
    .footer-col
      %ul
        %li
          = link_to "Methodology", :methodology_page_eng
        %li
          = link_to "Courses", :courses_offered_eng
        %li
          = link_to "Travel", :travel_opportunities_eng
        %li
          = link_to "Teachers", :teachers_page_eng
        %li
          = link_to "Register", :register_page_eng
    .footer-col
      %ul
        %li
          = link_to "About", :about_us_eng
        %li
          = link_to "Contact", :contact_us_eng
        %li
          = link_to "Careers", :work_with_us_eng
        %li
          = link_to "FAQ", :faq_page_eng
    .footer-col
      %ul
        %li
          .fb-share-button{"data-href" => "https://www.facebook.com/nyei.brazil"}
        %li
          %a.twitter-share-button{"data-count" => "none", "data-lang" => "en", :href => "https://twitter.com/share"} Tweet
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
