%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
%nav.header.navbar.navbar-default{:role => :navigation}
  .navbar-header#nav-header
    %button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#navbar-collapse'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a{:href => root_path}
      %p.navbar-brand NYEI LOGO
  .collapse.navbar-collapse#navbar-collapse
    %ul.nav.nav-pills.nav-justified
      %li.nav-item#link
        = link_to "Methodology", :methodology_page
      %li.nav-item
        = link_to "Courses", :courses_offered
      %li.nav-item
        = link_to "Travel Opportunities", :travel_opportunities
      %li.nav-item
        = link_to "Teachers", :teachers_page
      %li.nav-item
        = link_to "About Us", :about_us
      %li.nav-item
        = link_to "Contact Us", :contact_us
      %li.nav-item
        = link_to "Careers", :work_with_us
      %li.nav-item
        = link_to "FAQ", :faq_page