%nav.header.navbar.navbar-default{:role => :navigation}
  .navbar-header#nav-header
    %button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#navbar-collapse'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a{:href => root_path}
      .navbar-brand
        =image_tag "logotypeWhite-10.svg", :class => [:logo]
  .collapse.navbar-collapse#navbar-collapse
    %ul.nav.nav-pills.nav-justified
      %li.nav-item#link
        = link_to "Methodology", :methodology_page
      %li.nav-item
        = link_to "Courses", :courses_offered
      %li.nav-item
        = link_to "Travel", :travel_opportunities
      %li.nav-item
        = link_to "Teachers", :teachers_page
      %li.nav-item
        = link_to "About", :about_us
      %li.nav-item
        = link_to "Contact", :contact_us
      %li.nav-item
        = link_to "Register", :register_page
