%nav.header.navbar.navbar-default{:role => :navigation}
  .navbar-header#nav-header
    %button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#navbar-collapse'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to "NYEI",root_path, :class => [:"navbar-brand"]
  .collapse.navbar-collapse#navbar-collapse
    %ul.nav.nav-pills.nav-justified
      %li.nav-item
        = link_to "Home",root_path
      %li.nav-item#link
        = link_to "Metodologia", :methodology_page
      %li.nav-item
        = link_to "Cursos", :courses_offered
      %li.nav-item
        = link_to "Viajar", :travel_opportunities
      %li.nav-item
        = link_to "Professores", :teachers_page
      %li.nav-item
        = link_to "Sobre Nós", :about_us
      %li.nav-item
        = link_to "Contato", :contact_us
      %li.nav-item
        = link_to "Agenda", :register_page
      %li.nav-item.lang-btn
        = link_to "English #{image_tag('flag-icon-us.gif')}".html_safe, :landing_eng
