%nav.header.navbar.navbar-default{:role => :navigation}
  .navbar-header
    %button.navbar-toggle{type: :button, 'data-toggle' => :collapse, 'data-target' => '#navbar-collapse'}
      %span.sr-only
        Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse
    %ul.nav.nav-pills.nav-justified
      %li.nav-item#link
        = link_to "Methodology", :methodology_page_eng
      %li.nav-item
        = link_to "Courses", :courses_offered_eng
      %li.nav-item
        = link_to "Travel", :travel_opportunities_eng
      %li.nav-item
        = link_to "Teachers", :teachers_page_eng
      %li.nav-item
        =link_to (image_tag "NYEIlogoFinal-02.png", :class => [:"landing-logo"]),root_path, :class => [:""]
      %li.nav-item
        = link_to "About", :about_us_eng
      %li.nav-item
        = link_to "Contact", :contact_us_eng
      %li.nav-item
        = link_to "Register", :register_page_eng
      %li.nav-item.lang-btn
        = link_to "Português #{image_tag('flag-icon-brazil.gif')}".html_safe, root_path
      %li
