= render 'navbar';
.navbar.navbar-inverse
%h1.text-center Courses Offered
.container
  .row
    = image_tag "english full.jpg", class: [:"course-img"], alt: "English Full Course"
    %h2 English Full Course
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
  .row    
    = image_tag "teach english.jpg", class: [:"course-img"], alt: "Acedemic English"
    %h2 Acedemic English
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row    
    = image_tag "grad.jpg", class: [:"course-img"], alt: "Grad School Prep"
    %h2 Grad School Prep
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
  .row    
    = image_tag "test.jpg", class: [:"course-img"], alt: "Test Prep"
    %h2 Test Prep
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row    
    = image_tag "talk.jpg", class: [:"course-img"], alt: "Conversation"
    %h2 Conversation
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
  .row    
    = image_tag "workshop.jpg", class: [:"course-img"], alt: "Work Shops"
    %h2 Work Shops
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
  .row    
    = image_tag "learn.jpg", class: [:"course-img"], alt: "English for Travel"
    %h2 English for Travel
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
= render 'footer';