=render 'navbar'
.navbar.navbar-inverse
%h1.text-center Cursos Oferecidos
.container
  .course-container
    = image_tag "english_fluency.jpg", class: [:"course-img"], alt: "English Full Course"
    %h2 Inglês Fluente
    .course-text
      %p Nosso Curso de Inglês foi desenvolvido para estudantes a partir de 12 anos de idade. Começamos com o básico do idioma e auxiliamos nossos alunos a alcançarem individualmente fluência ao longo do curso. 
      %p Trabalhamos com uma grande variedade de vocabulário e nossa metodologia foi desenvolvida para que os alunos não necessitem perder tempo memorizando palavras. Nosso método preconiza a repetição, que é uma das maneiras mais eficientes de aprender uma segunda língua.
      %p Ao final do curso os alunos terão desenvolvido habilidades de escrita, leitura, compreensão e fala do idioma,  tendo ampla capacidade de assistir a filmes e programas de TV, ler livros, fazer pesquisas, conversar sobre inúmero de assuntos e consequentemente usar o Inglês na vida profissional.
      %p Duração: 8 semestres
      %ul.course-list
        %li Manhattan 1
        %li Manhattan 2
        %li Brooklyn 1
        %li Brooklyn 2
        %li Bronx 1
        %li Bronx 2
        %li Queens 1
        %li Queens 2
        %li Teste de nível  disponível para os alunos que possuem noções de Inglês.
      %p Matricule-se Aqui
  .course-container    
    = image_tag "academic_english.jpg", class: [:"course-img"], alt: "Acedemic English"
    %h2 Inglês Acadêmico
    .course-text
      %p Este curso é uma simulação de aulas universitárias dos Estados Unidos. Ele é destinado a pessoas que estão interessadas ​​em estudar no exterior. Os alunos serão preparados para acompanhar o nível de inglês usado em uma faculdade norte-americana. 
      %p 
        Os temas que oferecemos são:
        %ol.course-list
          %li Biologia
          %li Geografia 
          %li História 
          %li Química
          %li Física 
          %li Álgebra 
          %li Artes
          %li Administração  
      %p Nesta modalidade de curso, os alunos se reúnem com o professor três vezes por semana, além de fazer as lições extras durante a semana. Este curso prepara os alunos para escrever relatórios e ler livros acadêmicos. 
      %p Nossos professores são treinados para ajudar os alunos a melhorar e desenvolver habilidades no Inglês, assim como sanar qualquer tipo de dúvida referente ao idioma.
      %p
        Duração: 1 semestre por área de estudo (os alunos podem se matricular em mais  de um tópico por semestre)
        %ul.course-list
          %li É necessário teste de nível para este curso
      %p Matricule-se Aqui
  .course-container    
    = image_tag "prep_course_undergrad.jpg", class: [:"course-img"], alt: "Undergrad"
    %h2 Curso Preparatório – Ensino Superior
    .course-text
      %p Para que se consiga ingressar como estudante estrangeiro não-falante de língua inglesa em uma universidade americana, é requerido por parte das universidades um teste de proficiência em Inglês. 
      %p Este curso foi desenvolvido com o propósito de preparar nossos alunos a alcançarem sucesso nestes tipos de testes. Como parte deste curso nós também fornecemos aos nossos alunos treinamento específico para realização do teste SAT ou ACT.  Algumas Universidades exigem de todos os candidatos o resultado de um destes dois exames, que podem ser comparado ao ENEM no Brasil. 
      %p Trabalhamos com professores nativos para que nossos alunos compreendam de forma plena o estilo americano de estudar e de se preparar para provas acadêmicas.  
      //%p O New York English Institute fornece aos seus alunos informações sobre inscrições e processo de aplicação de testes em qualquer Universidade dentro dos Estados Unidos. Além de ajuda-los com os trâmites para a solicitação de visto.
      %p Nós fornecemos aos nossos alunos informações sobre inscrições e processo de aplicação em qualquer Universidade dentro dos Estados Unidos. Também podemos ajuda-los com os trâmites da aplicação se necessário.
      %p Duração: 1-4 semestres
      %ul.course-list
        %li É necessário teste de nível para este curso
      %p Matricule-se Aqui
  .course-container    
    = image_tag "prep_course_grad.jpg", class: [:"course-img"], alt: "Grad School Prep"
    %h2 Curso Preparatório – Mestrado
    .course-text
      %p Antes de ser aceito na maioria dos programas de pós-graduação americanos, os candidatos necessitam passar por uma prova relacionada com a área de estudo. Além disso, quando alguém vai aos Estados Unidos estudar, como não-falantes nativos da língua inglesa,  é requerida a realização de um teste de proficiência em Inglês. 
      %p Este curso (Curso Preparatório - Programas de Pós-Graduação) foi desenvolvido para preparar candidatos interessados em fazer um mestrado nos EUA. Oferecemos treinamento em ambos os testes. Nosso intuito é que haja sucesso tanto no exame de proficiência, como na área de estudo na universidade de sua escolha.
      %p Trabalhamos com professores americanos que frequentam ou já frequentaram Universidades para que nossos alunos compreendam de forma plena o estilo americano de estudar e de se preparar para provas acadêmicas.
      //%p O New York English Institute fornece aos seus alunos informações sobre inscrições e processo de aplicação de testes em qualquer Universidade dentro dos Estados Unidos. Além de ajuda-los com os trâmites para a solicitação de visto.
      %p Nós fornecemos aos nossos alunos informações sobre inscrições e processo de aplicação em qualquer Universidade dentro dos Estados Unidos. Também podemos ajuda-los com os trâmites da aplicação se necessário.
      %p Duração: 1-4 semestres
      %ul.course-list
        %li É necessário teste de nível para este curso
      %p Matricule-se Aqui
  .course-container   
    = image_tag "english_travelers.jpg", class: [:"course-img"], alt: "English for Travel"
    %h2 Inglês para Viajantes
    .course-text
      %p Viajar pode ser uma aventura única, que muda a vida e transforma a visão do mundo das pessoas. Apesar de uma viajem ao exterior ser uma experiência maravilhosa, lidar com a barreira da língua pode se transformar em uma experiência estressante. Visando atender este público, criamos um curso interativo, que vai ensinar aos alunos como pedir informações, se comunicar em um restaurante, fazer check-in em um hotel, alugar um carro, lidar com o câmbio, assim como muitas outras tarefas importantes para um turista. Nós também ensinamos nossos alunos como se apresentar e conversas básicas, a fim de se comunicar e conhecer a população local.
      %p Duração: 2 semestres
      %ul.course-list
        %li Teste de nível não requerido
      %p Matricule-se Aqui
  .course-container  
    = image_tag "conversation.jpg", class: [:"course-img"], alt: "Conversation"
    %h2 Conversação
    .course-text
      %p Este curso é destinado para aqueles que possuem conhecimento de Inglês e estão procurando uma oportunidade de praticar e melhorar suas habilidades no idioma. Nesta modalidade, os alunos serão capazes de escolher um assunto que gostariam de saber mais a partir de uma lista de tópicos de conversação. As aulas serão baseadas em temas que os estudantes escolhem antes das aulas. Nossos professores vão auxilia-los a expandirem seus vocabulários e fortalecer o uso da gramática. Também haverá  oportunidades para que os alunos conversem com famílias americanas por meio de ligações de vídeo via internet . Isso trará mais autoconfiança e o deixará mais confortável para falar Inglês  com variados grupos de pessoas.
      %p Duração: mínimo 1 semestre
      %ul.course-list
        %li É necessário teste de nível para este curso
      %p Matricule-se Aqui
  .course-container  
    = image_tag "job_interview.jpg", class: [:"course-img"], alt: "Job Interview/Resume"
    %h2 Entrevista de Trabalho/Curriculum
    .course-text
      %p Este curso é oferecido para ajudá-lo a se preparar para entrevistas de emprego que exigem do candidato fluência em Inglês. Trabalhamos com nossos alunos perguntas típicas de uma entrevista de trabalho, também revisamos o domínio de vocabulário e frases. 
      %p Entrevistas simuladas são realizadas para preparar melhor nossos alunos. Também haverá tradução de currículos para o Inglês, isso com foco nas peculiaridades de cada profissão.
      %p Temos também parcerias com empresas multinacionais, fator que nos possibilita encaminhar os currículos de nossos alunos de acordo com as vagas disponíveis. Embora não possamos garantir contratação, nos comprometemos a manter os estudantes informados sobre oportunidades de trabalho onde a língua inglesa é um requisito.
      %p Duração : Workshops são realizados durante todo o ano. Veja nosso calendário para mais informações.
      %ul.course-list
        %li É necessário teste de nível para este curso
      %p Matricule-se Aqui
  .course-container
    //= image_tag "workshop.jpg", class: [:"course-img"], alt: "Work Shops"
    //%h2 Work Shops
    .course-text
      //%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
= render 'footer'