=render 'navbar_eng'
.navbar.navbar-inverse
%h1.text-center Courses Offered
.container
  .course-container
    = image_tag "fluent_eng.jpg", class: [:"course-img"], alt: "English Full Course"
    %h2 Fluent English
    .course-text
      %p Our Fluent English Course is designed for students starting at age 14 and above. We start with the basics of the English language and help our students individually achieve fluency throughout the course. 
      %p We have a wide range of vocabulary and our methodology is designed in a way that students are not required to spend time memorizing words. Students at our institute learn by repetition, which is one of the most efficient ways to learn a second language. In this course the students meet with the teacher once a week for a two-hour lesson and also complete homework assignments throughout the week.
      %p By the end of the course students will be able to understand movies and TV programs, read books, do research, hold conversations in a variety of situations, and use English in their professional and academic lives. 
      %p Length: 8 semesters
      %ul.course-list
        %li Manhattan 1
        %li Manhattan 2
        %li Brooklyn 1
        %li Brooklyn 2
        %li Bronx 1
        %li Bronx 2
        %li Queens 1
        %li Queens 2
        %li Placement tests are offered for students who already speak some English.
      %p Register Now
  .course-container    
    = image_tag "academic-learning.jpg", class: [:"course-img"], alt: "Acedemic English"
    %h2 Acedemic English
    .course-text
      %p This course is a simulation of the college level classes in the United States. It is intended for those who are interested in studying abroad. Students are prepared for the structure of learning that is used at a university in the United States.
      %p 
        The topics we offer are:
        %ol.course-list
          %li Biology 101
          %li Geography 101
          %li History 101 
          %li Chemistry 101 
          %li Physics 101
          %li Algebra 101
          %li Humanities 101
          %li Business 101
      %p In these classes the students meet with the teacher three times a week for lessons and also complete homework assignments throughout the week. This course prepares our students to write research papers, read from academic books and take exams.
      %p Our teachers are highly trained to give feedback to help the students improve their English skills throughout the course. 
      %p
        Length: 1 semester per topic 
        %ul.course-list
          %li Level test is required for this course
      %p Register Now
  .course-container    
    = image_tag "college-graduates.jpg", class: [:"course-img"], alt: "Grad School Prep"
    %h2 Prep Course - Undergraduate Programs
    .course-text
      %p When students come to the United States to attend an undergraduate program as an international student, most colleges or universities require an English proficiency test. 
      %p This course is designed to prepare our students to pass these proficiency tests. We also provide our students with the knowledge they need to take the SAT and ACT exam. These are entrance exams required by some colleges or Universities in the United States.
      %p We work with American teachers who are attending or have attended Universities so that our students can be fully prepared for the American style of studying and preparing for academic tests.  
      %p We provide our students with information on how to apply to the University of their choice. We also assist our students with the application process if needed.
      %p Length: 2 Semesters
      %ul.course-list
        %li Level test is required for this course
      %p Register Now
  .course-container    
    = image_tag "back-of-graduates.jpg", class: [:"course-img"], alt: "Test Prep"
    %h2 Prep Course - Graduate Programs
    .course-text
      %p Before being accepted into most graduate programs students are required to pass an acceptance exam that is related to their area of study. Also when students come to the United States to study as an international student, they are required to take an English proficiency test. 
      %p This course is designed to prepare those interested in attending a Masters Program in the United States. Our objective is that our students pass both the academic exam and the proficiency test required by the university of their choice. 
      %p We work with American teachers who are attending or have attended Universities so that our students can be fully prepared for the American style of studying and preparing for academic tests.  
      %p We provide our students with information on how to apply to the University of their choice. We also assist our students with the application process if needed.
      %p Length:  2 Semesters
      %ul.course-list
        %li Level test is required for this course
      %p Register Now
  .course-container   
    = image_tag "pointing_map.jpg", class: [:"course-img"], alt: "English for Travel"
    %h2 English for Travelers
    .course-text
      %p Traveling can be an amazing adventure that changes a person’s life. Even though traveling abroad can be a wonderful experience, dealing with the language barrier can be stressful for the traveler. We have created an interactive course that will teach travelers how to ask for information, directions, order food, check into a hotel, rent a car, currency exchange, as well as many other important tasks for traveling. We also practice introductions and basic conversations in order to communicate and get to know the natives. 
      %p Length: 2 semesters
      %ul.course-list
        %li No level test required
      %p Register Now
  .course-container  
    = image_tag "conversation.jpg", class: [:"course-img"], alt: "Conversation"
    %h2 Conversation Course
    .course-text
      %p This course is intended for those that already know some English and are looking for an opportunity to practice and improve their English abilities. Students will be able to choose a subject they would like to learn more about from a list of conversation topics. The lessons will be based on the subjects that the students choose from the list. Our teachers will work with the students to help expand their vocabularies and strengthen their use of grammar. There will also be many opportunities for the students to speak with American families through video calls. This will help students feel more comfortable speaking English in front of a large group.
      %p Length: minimum 1 semester
      %ul.course-list
        %li Level test is required for this course
      %p Register Here
  .course-container  
    = image_tag "job-interview.jpg", class: [:"course-img"], alt: "Job Interview/Resume"
    %h2 Job Interview Prep and Resume Building
    .course-text
      %p This course is offered to help our students be prepared for interviews at competitive jobs that require the candidates to speak English. Teachers go over typical interview questions with students and review vocabulary words and phrases. 
      %p Mock interviews are conducted to further help our students be prepared for future interviews. Students are also taught how to write professional resumes in English that are aimed towards their desired profession. 
      %p For those that already have job interviews scheduled we offer this workshop to give the candidate an opportunity to practice for the upcoming interview. We also have partnered with multinational companies to whom we will forward our students resumes. Although we cannot guarantee a job we will send our students resumes to the companies whenever they have job openings. 
      %p Length: Workshops are available throughout the year. See our calendar for more information.
      %ul.course-list
        %li Level test is required for this course
      %p Register Here
  .course-container    
    //= image_tag "workshop.jpg", class: [:"course-img"], alt: "Work Shops"
    //%h2 Work Shops
    .course-text
      //%p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

