.container-fluid
  = render "navbar"
  
  .video-header
    .row#landing-video
      = video_tag('http://www.galleries.evancaldwell.com/videos/homePage_webmhd.webm', controls: false, autoplay: true, loop: true, id: [:'homePage_webmhd.webm'], height: "100%", width: "100%", poster: "homePageVidPoster.png")
    .row
      #landing-chevron.chevron.bottom
        #home-marketing.col-md-12
          .row
            #home-marketing-box
              %h2#home-marketing-text 
                Sign up for next semester. Only 21 days left!
            #home-marketing-btn
              %button Learn More        
          %span
            %a
              = image_tag "chevronThin.svg", class: [:"chevron-img"], alt: "It points down"
  
  .button-grid
    .col-md-12
      %h1.landing-titles Courses
    %a
      %p.landing-overlay English Full Course
      = image_tag "Ninaglass2.jpg", class: [:"button-img"], alt: "English Full Course"
    %a
      %p.landing-overlay Acedemic English
      = image_tag "hands2.jpg", class: [:"button-img"], alt: "Acedemic English"
    %a       
      %p.landing-overlay Grad School Prep
      = image_tag "graduate2.jpg", class: [:"button-img"], alt: "Grad School Prep"
    %a
      %p.landing-overlay Test Prep
      = image_tag "learn4.jpg", class: [:"button-img"], alt: "Test Prep"
    %a
      %p.landing-overlay Conversation
      = image_tag "walk1.jpg", class: [:"button-img"], alt: "Conversation"
    %a
      %p.landing-overlay Workshops
      = image_tag "cellphoneshare.jpg", class: [:"button-img"], alt: "Work Shops"
  .button-grid
    .col-md-12
      %h1.landing-titles Travel
    %a
      %p.landing-overlay English for Travel
      = image_tag "Ninaup2.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      %p.landing-overlay Travel to the US
      = image_tag "Josephglass1.jpg", class: [:"button-img"], alt: "Travel to the US"
    %a
      %p.landing-overlay Travel to Brazil
      = image_tag "wall2.jpg", class: [:"button-img"], alt: "Travel to the US"
    %a
      = image_tag "learn.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      = image_tag "travel with us.jpg", class: [:"button-img"], alt: "Travel to the Us"
    %a
      = image_tag "study.jpg", class: [:"button-img"], alt: "Grad School Prep"
  
= render 'footer'
