= render 'navbar'
.container
  .row
    %h1.text-center#title New York Education Institute
  .row
    = video_tag "landing-video.mp4",:class => [:"img-responsive",:"col-xs-12"],:controls => true
.container-fluid#button_grid
  .row.text-center
    %a.col-xs-4
      = image_tag "english full.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "English Full Course"
    %a.col-xs-4
      = image_tag "teach english.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Acedemic English"
    %a.col-xs-4
      = image_tag "grad.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Grad School Prep"
  .row.text-center
    %a.col-xs-4
      = image_tag "test.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Test Prep"
    %a.col-xs-4
      = image_tag "talk.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Conversation"
    %a.col-xs-4
      = image_tag "workshop.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Work Shops"
  .row.text-center
    %a.col-xs-4
      = image_tag "learn.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "English for Travel"
    %a.col-xs-4
      = image_tag "travel with us.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Travel to the Us"
    %a.col-xs-4
      = image_tag "study.jpg",:class => [:"img-thumbnail", :"button-img"],:alt => "Grad School Prep"
= render 'footer'