.container-fluid
  = render "navbar"
  
  .video-header
    .row
      //= video_tag('landing-video.oggtheora.ogv', 'landing-video.mp4', controls: false, autoplay: true, loop: true, id: [:'landing-video'])
      = video_tag('5085491.mp4', controls: false, autoplay: true, loop: true, id: [:'5085491.mp4'], height: "800", width: "100%")
    //%hr.divider
    .row
      .chevron.bottom
        #home-marketing.col-md-12
          .row
            .col-md-7.col-md-offset-2
              %h2#home-marketing-text Sign up for next semester. Only 21 days left!
            #home-marketing-btn.col-md-2
              %button Learn More
        .col-md-12
          %span.glyphicon.glyphicon-chevron-down
  
#button-grid
  .row.text-center
    %h1.landing-titles Courses
  %hr
    %a
      = image_tag "Ninaglass2.jpg", class: [:"button-img"], alt: "English Full Course"
    %a
      = image_tag "hands2.jpg", class: [:"button-img"], alt: "Acedemic English"
    %a
      = image_tag "graduate2.jpg", class: [:"button-img"], alt: "Grad School Prep"
    %a
      = image_tag "learn4.jpg", class: [:"button-img"], alt: "Test Prep"
    %a
      = image_tag "walk1.jpg", class: [:"button-img"], alt: "Conversation"
    %a
      = image_tag "cellphoneshare.jpg", class: [:"button-img"], alt: "Work Shops"
  .row.text-center
    %h1.text-center.col-xs-12 Travel
  %hr
    %a
      = image_tag "Ninaup2.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      = image_tag "Josephglass1.jpg", class: [:"button-img"], alt: "Travel to the Us"
    %a
      = image_tag "wall2.jpg", class: [:"button-img"], alt: "Grad School Prep"
    %a
      = image_tag "learn.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      = image_tag "travel with us.jpg", class: [:"button-img"], alt: "Travel to the Us"
    %a
      = image_tag "study.jpg", class: [:"button-img"], alt: "Grad School Prep"

= render 'footer'
