
= render "navbar"
.container-fluid
  .video-header
    = image_tag "logotypeWhite-10.svg", :class => :logo
    .row#landing-video
      = video_tag('http://www.galleries.evancaldwell.com/videos/homePage_webmhd.webm', controls: false, autoplay: true, loop: true, id: [:'homePage_webmhd.webm'], height: "100%", poster: "homePageVidPoster.png",class: :video)
    #landing-marketing
      #landing-marketing-box
        %h2#home-marketing-text 
          Sign up for next semester. Only 21 days left!
        #home-marketing-btn
          %button Learn More        
      .row
        %span.chevron-thin
          %a
            = image_tag "chevronThin.svg", class: [:"chevron-img"], alt: "Scroll down for more info."
.container
  %h1.landing-titles 
    Courses
  .button-grid

    %a
      %p.landing-overlay Fluent English Course
      = image_tag "Ninaglass2.jpg", class: [:"button-img"], alt: "English Full Course"
    %a
      %p.landing-overlay Academic English
      = image_tag "hands2.jpg", class: [:"button-img"], alt: "Acedemic English"
    %a       
      %p.landing-overlay Prep Course Undergrad
      = image_tag "graduate2.jpg", class: [:"button-img"], alt: "Grad School Prep"
    %a
      %p.landing-overlay Prep Course Grad
      = image_tag "learn4.jpg", class: [:"button-img"], alt: "Test Prep"
    %a
      %p.landing-overlay Conversation
      = image_tag "walk1.jpg", class: [:"button-img"], alt: "Conversation"
    %a
      %p.landing-overlay English for Travelers
      = image_tag "cellphoneshare.jpg", class: [:"button-img"], alt: "Work Shops"
  %h1.landing-titles 
    Travel
  .button-grid

    %a
      %p.landing-overlay Travel to the U.S.
      = image_tag "Ninaup2.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      %p.landing-overlay Cultural Immersion
      = image_tag "Josephglass1.jpg", class: [:"button-img"], alt: "Travel to the US"
    %a
      %p.landing-overlay Study Abroad
      = image_tag "wall2.jpg", class: [:"button-img"], alt: "Travel to the US"
  
= render 'footer'
