= render "navbar"

.video-container
  .row
    = video_tag('landing-video.oggtheora.ogv', 'landing-video.mp4', controls: false, autoplay: true, loop: true, id: [:'landing-video'])
  %hr.divider
  .row
    %h1.text-center#title New York English Institute
  .chevron.bottom
    %span.glyphicon.glyphicon-chevron-down

#button-grid
  %hr.divider
  .row.text-center
    %a
      = image_tag "english full.jpg", class: [:"button-img"], alt: "English Full Course"
    %a
      = image_tag "teach english.jpg", class: [:"button-img"], alt: "Acedemic English"
    %a
      = image_tag "grad.jpg", class: [:"button-img"], alt: "Grad School Prep"
    %a
      = image_tag "test.jpg", class: [:"button-img"], alt: "Test Prep"
    %a
      = image_tag "talk.jpg", class: [:"button-img"], alt: "Conversation"
    %a
      = image_tag "workshop.jpg", class: [:"button-img"], alt: "Work Shops"
    %a
      = image_tag "learn.jpg", class: [:"button-img"], alt: "English for Travel"
    %a
      = image_tag "travel with us.jpg", class: [:"button-img"], alt: "Travel to the Us"
    %a
      = image_tag "study.jpg", class: [:"button-img"], alt: "Grad School Prep"

= render 'footer'
