= render 'navbar';
.navbar.navbar-inverse
%h1.text-center Oportunidades de Viagem
%p O New York English Institute proporciona aos alunos além do ensino de qualidade, a oportunidade de vivenciar a cultura dos Estados Unidos. Oferecemos várias opções de programas para os estudantes viajarem pelos Estados Unidos e aplicar o que eles têm aprendido no nosso instituto.
.container
  .row
    = image_tag "western.jpg", class: [:"course-img"], alt: "Western United States"
    %h2 Estados do Oeste
    %p.course-text Os estudantes que estão interessados em fazer parte deste programa precisam iniciar o processo de cadastramento o mais rápido possível e garantir o seu lugar. Nesta viagem, visitamos locais turísticos e ícones americanos, tais como:
    %ul
      %li 
        Califórnia:
        %ul
          %li Hollywood Walk of Fame
          %li Santa Barbara Pier
          %li Disneyland 
          %li Walt Disney Concert Hall
          %li San Diego Zoo
      %li 
        Arizona:
        %ul
          %li Grand Canyon National Park (Skywalk)
      %li 
        Utah:
        %ul
          %li Arches National Park
          %li Zion’s National Park
          %li Goblin Valley
      %li 
        Nevada (Las Vegas):
        %ul
          %li High Roller (500ft high ferris wheel)
          %li Stratosphere 
          %li Celine Dion Concert
          %li Cirque Du Soleil Show
          %li Circus Circus
          %li Wax Museum 
          %li Gondola Ride at the Venetian Hotel Casino
          %li Dancing Water Show at the Bellagio Hotel Casino
          %li Siegfried & Roy's Secret Garden & Dolphin Habitat
          %li The Las Vegas Welcome sign
          %li Helicopter Ride over the Strip
          %li Hoover Dam
    %p.course-text Importante: Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
    %p.course-text Para fazer parte deste programa alunos menores de 21 anos devem ter autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program.
    %p.course-text O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
    %p.course-text A fim de garantir aos nossos alunos um preço acessível, é necessário o mínimo de oito inscrições para a viagem. E para garantir a sua segurança, viajamos com um número máximo de 15 alunos.
    %p.course-text Nosso Curso de Inglês foi desenvolvido para estudantes a partir de 12 anos de idade. Começamos com o básico do idioma e auxiliamos nossos alunos a alcançarem individualmente fluência ao longo do curso. 
  .row    
    = image_tag "eastern.jpg", class: [:"course-img"], alt: "Eastern United States"
    %h2 Estados do Leste
    %p.course-text 
      Os estudantes que estão interessados em fazer parte deste programa precisam iniciar o processo de cadastramento o mais rápido possível e garantir o seu lugar. Nesta viagem, visitamos locais turísticos e ícones americanos, tais como:
      %ul
        %li 
          New York:
          %ul
            %li The statue of Liberty
            %li Ground Zero
            %li Central Park
            %li Metropolitan Museum
            %li Times Square
            %li A Broadway Show
            %li Empire State Building tour
            %li China Town
            %li Guggenheim Museum
            %li One World Observatory
            %li Wall Street (Bull)
            %li Central Station
        %li 
          Pennsylvania (Philadelphia) 
          %ul
            %li Hershey’s Park
            %li Hop on Hop off City Tour
            %li Liberty Bell
            %li Historic Tour
        %li 
          Washington DC:
          %ul
            %li Outside tour of the White House
            %li Lincoln Memorial
            %li Washington Monument
            %li National Air and Space Museum
            %li International Spy Museum
            %li Changing of the Guard
            %li Fourth of July Fire Works
            %li Fords Theater
    %p.course-text Importante: Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
    %p.course-text Para fazer parte deste programa alunos menores de 21 anos devem ter autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program.
    %p.course-text O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
    %p.course-text A fim de garantir aos nossos alunos um preço acessível, é necessário o mínimo de oito inscrições para a viagem. E para garantir a sua segurança, viajamos com um número máximo de 15 alunos.
  .row    
    = image_tag "grad.jpg", class: [:"course-img"], alt: "Grad School Prep"
    %h2 Curso Preparatório – Mestrado
    %p.course-text Antes de ser aceito na maioria dos programas de pós-graduação americanos, os candidatos necessitam passar por uma prova relacionada com a área de estudo. Além disso, quando alguém vai aos Estados Unidos estudar, como não-falantes nativos da língua inglesa,  é requerida a realização de um teste de proficiência em Inglês. 
    %p.course-text Este curso (Curso Preparatório - Programas de Pós-Graduação) foi desenvolvido para preparar candidatos interessados em fazer um mestrado nos EUA. Oferecemos treinamento em ambos os testes. Nosso intuito é que haja sucesso tanto no exame de proficiência, como na área de estudo na universidade de sua escolha.
    %p.course-text O New York English Institute fornece aos seus alunos informações sobre inscrições e processo de aplicação de testes em qualquer Universidade dentro dos Estados Unidos. Além de ajuda-los com os trâmites para a solicitação de visto.
    %p.course-text Duração: 1-4 semestres
    %ul
      %li É necessário teste de nível para este curso
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
  .row    
    = image_tag "test.jpg", class: [:"course-img"], alt: "Test Prep"
    %h2 Curso Preparatório – Ensino Superior
    %p.course-text Para que se consiga ingressar como estudante estrangeiro não-falante de língua inglesa em uma universidade americana, é requerido por parte das universidades um teste de proficiência em Inglês. 
    %p.course-text Este curso foi desenvolvido com o propósito de preparar nossos alunos a alcançarem sucesso nestes tipos de testes. Como parte deste curso nós também fornecemos aos nossos alunos treinamento específico para realização do teste SAT ou ACT.  Algumas Universidades exigem de todos os candidatos o resultado de um destes dois exames, que podem ser comparado ao ENEM no Brasil. 
    %p.course-text Trabalhamos com professores nativos para que nossos alunos compreendam de forma plena o estilo americano de estudar e de se preparar para provas acadêmicas.  
    %p.course-text O New York English Institute fornece aos seus alunos informações sobre inscrições e processo de aplicação de testes em qualquer Universidade dentro dos Estados Unidos. Além de ajuda-los com os trâmites para a solicitação de visto.
    %p.course-text Duração: 1-4 semestres
    %ul
      %li É necessário teste de nível para este curso
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row   
    = image_tag "learn.jpg", class: [:"course-img"], alt: "English for Travel"
    %h2 Inglês para Viagem
    %p.course-text Viajar pode ser uma aventura única, que muda a vida e transforma a visão do mundo das pessoas. Apesar de uma viajem ao exterior ser uma experiência maravilhosa, lidar com a barreira da língua pode se transformar em uma experiência estressante. Visando atender este público, criamos um curso interativo, que vai ensinar aos alunos como pedir informações, se comunicar em um restaurante, fazer check-in em um hotel, alugar um carro, lidar com o câmbio, assim como muitas outras tarefas importantes para um turista. 
    %p.course-text Nós também ensinamos nossos alunos como se apresentar e conversas básicas, a fim de se comunicar e conhecer a população local.
    %p.course-text Duração: 2 semestres
    %ul
      %li Teste de nível não requerido
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row  
    = image_tag "talk.jpg", class: [:"course-img"], alt: "Conversation"
    %h2 Conversação
    %p.course-text Este curso é destinado para aqueles que possuem conhecimento de Inglês e estão procurando uma oportunidade de praticar e melhorar suas habilidades no idioma. 
    %p.course-text Nesta modalidade, os alunos serão capazes de escolher um assunto que gostariam de saber mais a partir de uma lista de tópicos de conversação. As aulas serão baseadas em temas que os estudantes escolhem antes das aulas. Nossos professores vão auxilia-los a expandirem seus vocabulários e fortalecer o uso da gramática. Também haverá  oportunidades para que os alunos conversem com famílias americanas por meio de ligações de vídeo via internet . Isso trará mais autoconfiança e o deixará mais confortável para falar Inglês  com variados grupos de pessoas.
    %p.course-text Duração: mínimo 1 semestre
    %ul
      %li É necessário teste de nível para este curso
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row  
    = image_tag "interview.jpg", class: [:"course-img"], alt: "Job Interview/Resume"
    %h2 Entrevista de Trabalho/Curriculum
    %p.course-text Este curso é oferecido para ajudá-lo a se preparar para entrevistas de emprego que exigem do candidato fluência em Inglês. Trabalhamos com nossos alunos perguntas típicas de uma entrevista de trabalho, também revisamos o domínio de vocabulário e frases. 
    %p.course-text Entrevistas simuladas são realizadas para preparar melhor nossos alunos. Também haverá tradução de currículos para o Inglês, isso com foco nas peculiaridades de cada profissão.
    %p.course-text Temos também parcerias com empresas multinacionais, fator que nos possibilita encaminhar os currículos de nossos alunos de acordo com as vagas disponíveis. Embora não possamos garantir contratação, nos comprometemos a manter os estudantes informados sobre oportunidades de trabalho onde a língua inglesa é um requisito.
    %p.course-text Duração : Workshop - 3 semanas
    %ul
      %li É necessário teste de nível para este curso
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
  .row    
    = image_tag "workshop.jpg", class: [:"course-img"], alt: "Work Shops"
    %h2 Work Shops
    %p.course-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %ul.course-list
      %li Lorem ipsum 
      %li Lorem ipsum 
      %li Lorem ipsum
= render 'footer';