=render 'navbar'
.navbar.navbar-inverse
.container
  .row
    .col-xs-12
      %h1.text-center Oportunidades de Viagem
      %p O New York English Institute proporciona aos alunos além do ensino de qualidade, a oportunidade de vivenciar a cultura dos Estados Unidos. Oferecemos várias opções de programas para os estudantes viajarem pelos Estados Unidos e aplicar o que eles têm aprendido no nosso instituto.
  .row
    .col-xs-12
      %h2 Estados do Oeste
      %p Os estudantes que estão interessados em fazer parte deste programa precisam iniciar o processo de cadastramento o mais rápido possível e garantir o seu lugar. Nesta viagem, visitamos locais turísticos e ícones americanos, tais como:
    .travel-loc-col
      %ul
        %li 
          Utah:
          %ul
            %li Arches National Park
            %li Zion’s National Park
            %li Goblin Valley
            %li Tour of Brigham Univeristy Idaho and University of Utah
            %li Hike the Y
        %li 
          Nevada (Las Vegas):
          %ul
            %li High Roller (500ft high ferris wheel)
            %li Stratosphere
            %li Cirque Du Soleil Show
            %li Circus Circus
            %li Wax Museum 
            %li Gondola Ride at the Venetian Hotel Casino
    .travel-loc-col
      %ul
        %li
          %ul
            %li Dancing Water Show at the Bellagio Hotel Casino
            %li Siegfried & Roy's Secret Garden & Dolphin Habitat
            %li The Las Vegas Welcome sign
            %li Helicopter Ride over the Strip
            %li Hoover Dam
        %li 
          Arizona:
          %ul
            %li Grand Canyon National Park (Skywalk)
        %li 
          Califórnia:
          %ul
            %li Hollywood Walk of Fame
            %li Santa Barbara Pier
            %li Disneyland 
            %li Walt Disney Concert Hall
            %li San Diego Zoo
    .travel-loc-col
      .row
        .travel-loc-img-lg
          = image_tag "western-01.jpg", class: [:"travel-img"], alt: "Western United States 01"
        .travel-loc-img-lg
          = image_tag "western-02.jpg", class: [:"travel-img"], alt: "Western United States 02"
        .travel-loc-img-lg
          = image_tag "western-03.jpg", class: [:"travel-img"], alt: "Western United States 03"
        .travel-loc-img-lg
          = image_tag "western-04.jpg", class: [:"travel-img"], alt: "Western United States 04" 
    .travel-loc-col-2
      .row
        .travel-loc-img-sm
          = image_tag "western-05.jpg", class: [:"travel-img"], alt: "Western United States 05"
        .travel-loc-img-sm
          = image_tag "western-06.jpg", class: [:"travel-img"], alt: "Western United States 06"
        .travel-loc-img-sm
          = image_tag "western-07.jpg", class: [:"travel-img"], alt: "Western United States 07"
        .travel-loc-img-sm
          = image_tag "western-08.jpg", class: [:"travel-img"], alt: "Western United States 08"
        .travel-loc-img-sm
          = image_tag "western-09.jpg", class: [:"travel-img"], alt: "Western United States 09"
        .travel-loc-img-sm
          = image_tag "western-10.jpg", class: [:"travel-img"], alt: "Western United States 10"
    .travel-loc-col-2
      %p 
        %font{:color => "red"} IMPORTANTE: 
        Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
      %p Para fazer parte deste programa alunos menores de 21 anos devem ter autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program. O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
      %p A fim de garantir aos nossos alunos um preço acessível, é necessário o mínimo de oito inscrições para a viagem. E para garantir a sua segurança, viajamos com um número máximo de 15 alunos.
  .row
    .travel-loc-text
      %h2 Estados do Leste
      %p Os estudantes que estão interessados em fazer parte deste programa precisam iniciar o processo de cadastramento o mais rápido possível e garantir o seu lugar. Nesta viagem, visitamos locais turísticos e ícones americanos, tais como:
    .travel-loc-col
      %ul
        %li 
          New York:
          %ul
            %li The statue of Liberty
            %li Ground Zero
            %li Central Park
            %li Metropolitan Museum
            %li Times Square
            %li A Broadway Show
            %li Empire State Building tour
            %li China Town
            %li Guggenheim Museum
            %li One World Observatory
            %li Wall Street (Bull)
            %li Central Station
        %li 
          Pennsylvania (Philadelphia) 
          %ul
            %li Hershey’s Park
    .travel-loc-col
      %ul
        %li
          %ul
            %li Hop on Hop off City Tour
            %li Liberty Bell
            %li Historic Tour
        %li
          Virginia (Richmond)
          %ul
            %li Historical tour
            %li Theme Parks
        %li 
          Washington DC:
          %ul
            %li Outside tour of the White House
            %li Lincoln Memorial
            %li Washington Monument
            %li National Air and Space Museum
            %li International Spy Museum
            %li Changing of the Guard
            %li Fourth of July Fire Works
            %li Fords Theater
    .travel-loc-col
      .row
        .travel-loc-img-lg
          = image_tag "eastern-01.jpg", class: [:"travel-img"], alt: "Eastern United States 01"
        .travel-loc-img-lg
          = image_tag "eastern-02.jpg", class: [:"travel-img"], alt: "Eastern United States 02"
        .travel-loc-img-lg
          = image_tag "eastern-03.jpg", class: [:"travel-img"], alt: "Eastern United States 03"
        .travel-loc-img-lg
          = image_tag "eastern-04.jpg", class: [:"travel-img"], alt: "Eastern United States 04" 
    .travel-loc-col-2
      .row
        .travel-loc-img-sm
          = image_tag "eastern-05.jpg", class: [:"travel-img"], alt: "Eastern United States 05"
        .travel-loc-img-sm
          = image_tag "eastern-06.jpg", class: [:"travel-img"], alt: "Eastern United States 06"
        .travel-loc-img-sm
          = image_tag "eastern-07.jpg", class: [:"travel-img"], alt: "Eastern United States 07"
        .travel-loc-img-sm
          = image_tag "eastern-08.jpg", class: [:"travel-img"], alt: "Eastern United States 08"
        .travel-loc-img-sm
          = image_tag "eastern-09.jpg", class: [:"travel-img"], alt: "Eastern United States 09"
        .travel-loc-img-sm
          = image_tag "eastern-10.jpg", class: [:"travel-img"], alt: "Eastern United States 10"
    .travel-loc-col-2
      %p
        %font{:color => "red"} IMPORTANTE: 
        Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
      %p Para fazer parte deste programa alunos menores de 21 anos devem ter autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program. O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
      %p A fim de garantir aos nossos alunos um preço acessível, é necessário o mínimo de oito inscrições para a viagem. E para garantir a sua segurança, viajamos com um número máximo de 15 alunos.
  .row
    .col-xs-12
      %h2 Chicago e Florida
      %p Os estudantes que estão interessados em fazer parte deste programa precisam iniciar o processo de cadastramento o mais rápido possível e garantir o seu lugar. Nesta viagem, visitamos locais turísticos e ícones americanos, tais como:
    .travel-loc-col
      %ul
        %li
          Chicago:
          %ul
            %li Shedd Aquarium
            %li Sky Deck Chicago
            %li The Field Museum
            %li Navy Pier
            %li Hancock Observatory
            %li Sears Towers
            %li Adler Planetarium
            %li Windy Chicago
    .travel-loc-col
      %ul
        %li
          %ul
            %li Brookfield Zoo
            %li Chicago Theatre
            %li Architecture River Cruise
            %li South Side Tour
        %li
          Orlando: 
          %ul
            %li Walt Disney world
        %li
          Miami:
          %ul
            %li Two Night Cruise Ship in the Atlantic Ocean
            %li Beach (voted by the students)
    .travel-loc-col
      .row
        .travel-loc-img-lg
          = image_tag "chicago_florida-01.jpg", class: [:"travel-img"], alt: "Chicago and Florida 01"
        .travel-loc-img-lg
          = image_tag "chicago_florida-02.jpg", class: [:"travel-img"], alt: "Chicago and Florida 02"
        .travel-loc-img-lg
          = image_tag "chicago_florida-03.jpg", class: [:"travel-img"], alt: "Chicago and Florida 03"
        .travel-loc-img-lg
          = image_tag "chicago_florida-04.jpg", class: [:"travel-img"], alt: "Chicago and Florida 04" 
    .travel-loc-col-2
      .row
        .travel-loc-img-sm
          = image_tag "chicago_florida-05.jpg", class: [:"travel-img"], alt: "Chicago and Florida 05"
        .travel-loc-img-sm
          = image_tag "chicago_florida-06.jpg", class: [:"travel-img"], alt: "Chicago and Florida 06"
        .travel-loc-img-sm
          = image_tag "chicago_florida-07.jpg", class: [:"travel-img"], alt: "Chicago and Florida 07"
        .travel-loc-img-sm
          = image_tag "chicago_florida-08.jpg", class: [:"travel-img"], alt: "Chicago and Florida 08"
        .travel-loc-img-sm
          = image_tag "chicago_florida-09.jpg", class: [:"travel-img"], alt: "Chicago and Florida 09"
        .travel-loc-img-sm
          = image_tag "chicago_florida-10.jpg", class: [:"travel-img"], alt: "Chicago and Florida 10"
    .travel-loc-col-2
      %p
        %font{:color => "red"} IMPORTANTE: 
        Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
      %p Para fazer parte deste programa alunos menores de 21 anos devem ter autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program. O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
      %p A fim de garantir aos nossos alunos um preço acessível, é necessário o mínimo de oito inscrições para a viagem. E para garantir a sua segurança, viajamos com um número máximo de 15 alunos.
  .row
    .col-xs-12
      %h2 Programa de Imersão Cultural
    .col-xs-12
      .row
        .travel-loc-col-2
          %p Os alunos entre 15 e 17 anos de idade têm a oportunidade de passar de um a três meses morando com uma família americana nos Estados Unidos. Nosso Instituto tem parceria com famílias em todo o país. Ressaltamos que aqui, os alunos é que escolhem onde gostariam de ir a partir de uma lista disponibilizadas por nós que contém vários estados, espalhados por todo o país.
          %p Neste programa, além da oportunidade de melhorar ainda mais o Inglês o estudante fará novos amigos que falam Inglês e será imerso na cultura dos Estados Unidos. 
        .travel-loc-col-2
          .row
            .col-xs-6
              = image_tag "cultural_immersion_landing.jpg", class: [:"travel-img"], alt: "Cultural Immersion Program 01"
            .col-xs-6
              = image_tag "cultural-immersion-02.jpg", class: [:"travel-img"], alt: "Cultural Immersion Program 02"
      .row
        .travel-loc-col-2
          .row
            .travel-loc-img-sm
              = image_tag "cultural-immersion-03.jpg", class: [:"travel-img"], alt: "Cultural Immersion Program 03"
            .travel-loc-img-sm
              = image_tag "cultural-immersion-04.jpg", class: [:"travel-img"], alt: "Cultural Immersion Program 04"
            .travel-loc-img-sm
              = image_tag "cultural-immersion-05.jpg", class: [:"travel-img"], alt: "Cultural Immersion Program 05"
        .travel-loc-col-2
          %p  
            %font{:color => "red"} IMPORTANTE: 
            Informamos que apenas alunos matriculados em nossos cursos terão acesso a este pacote, o aluno também deve ter completado pelo menos dois semestres para estar apto. 
          %p Para fazer parte deste programa os candidatos devem providenciar toda a documentação necessária incluindo autorização dos pais ou responsáveis autenticada. O New York Institute se compromete em ajudar os alunos a preencherem os formulários necessários para solicitar um visto americano tipo B1/B2. Para os que possuem dupla cidadania, aconselhamos que consulte se seu segundo país faz parte do USA Visa Waiver Program. O NYEI não garante aos alunos a obtenção do visto, uma vez que a decisão de quem está apto a entrar em seu território é do Consulado americano. 
  .row
    .col-xs-12
      %h2 Programa de Estudo no Exterior
    .col-xs-12
      .row
        .travel-loc-col-2
          %p Este programa proporciona aos alunos a oportunidade de estudar Inglês em nosso Instituto na cosmopolita Nova York.
        .travel-loc-col-2
          .row
            .travel-loc-img-lg
              = image_tag "study-abroad-program-01.jpg", class: [:"travel-img"], alt: "Study Abroad Program 01"
            .travel-loc-img-lg
              = image_tag "study-abroad-program-02.jpg", class: [:"travel-img"], alt: "Study Abroad Program 02"
      .row
        .travel-loc-col-2
          .row
            .travel-loc-img-sm
              = image_tag "study_abroad_landing.jpg", class: [:"travel-img"], alt: "Study Abroad Program 03"
            .travel-loc-img-sm
              = image_tag "study-abroad-program-04.jpg", class: [:"travel-img"], alt: "Study Abroad Program 04"
            .travel-loc-img-sm
              = image_tag "study-abroad-program-05.jpg", class: [:"travel-img"], alt: "Study Abroad Program 05"
        .travel-loc-col-2
          %p Oferecemos um preço especial na mensalidade para que os alunos possam arcar com os custos de vida em Nova York. Se você está interessado nesta opção, você pode solicitar mais informações e um de nossos funcionários do departamento de admissão entrará em contato para ajudá-lo (a) a preencher e enviar a documentação necessária.
= render 'footer'